@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Roboto';
    text-shadow:  4px 5px 4px black;
    font-size: 50px;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

[role=banner] {
    background-image: url('../img/huntington.png');
    height: 300px;
    margin-bottom: 20px;
}

h1, h2 {
    color: white;
}

abbr {
    text-decoration: none;
}

h2 {
    background: url('../img/zen.svg');
    background-repeat: no-repeat;
    background-position-x: 400px ;
    background-size: contain;
    font-family: 'Satisfy';
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding-left: 80px;
     
}

h3{
    font-family: 'roboto';
    font-weight: 300;
    margin-left: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#zen-participation, #zen-benefits {
    background-image: url('../img/bamboo.png');
    background-color: rgb(102, 142, 111); 
}

#zen-benefits {
    padding-bottom: 20px;
}

p {
    font-family: 'IBM Plex Mono';
    font-size: 11px;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 20px;
    font-weight: 300;
}

.benefits p, .participation p {
    color: white;    
}


[role=contentinfo] a {
    font-family: 'satisfy';
    color: white;
    font-size: 30px;    
}

[role=contentinfo] {
    background-color: rgb(103, 147, 112);
    margin: 0px;
    text-align: center;
    color: rgb(150, 168, 152);
    padding-top: 15px;
}

[role=contentinfo] a:hover {
    text-decoration-line: underline;
    color: white;
}

footer {
    background-color: rgb(28, 67, 66);
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

footer a {
    color: white;
    padding: 15px;    
}

a:hover {
    color: rgb(155, 155, 155);
}

.design-selection h3, .design-archives h3, .zen-resources h3{
    display: none;
}

.design-selection, .design-archives {
    background-color: rgb(216, 226, 215);
}

.design-selection {
    height: 300px;
    
}



a {
    text-decoration-line: none;
    color:black;
}

ul {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style: none; 
    padding-top:10px;       
}

li {
    display: inline-block;
    width: 50%;
    padding:26px;
}

.design-name, .design-selection li{
    font-family: 'roboto';
    font-weight: 300;
}

.designer-name, .next, .viewall, .zen-resources li {
    font-family: 'IBM Plex Mono';
    color: grey;
}

.design-selection ul li{
    border-bottom: 1px solid rgb(155, 155, 155);
}

.zen-resources ul li a, .design-archives ul li a{
    color: rgb(155, 155, 155);

}

.zen-resources ul li a {
color: rgb(92, 92, 92);
}

.zen-resources {
    background-image: url('../img/bamboo.png');
    background-color: rgb(102, 142, 111); 
    height: 240px;      
}